* {
    font-family: 'Fira Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    color: var(--c13);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}